div#board {
  margin: auto;
  padding: 1em;
}

div#board .row {
  clear: both;
}

div#board .square {
  height: 100px;
  width: 100px;
  float: left;
}

div#board .empty {
  border: 1px solid DimGrey;
}

div#board .tile {
  width: 100%;
  height: 100%;
  background-color: red;
}
